@model EmpleosWebMax.Domain.Entity.Empleo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Empleo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idnumempresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idnumempresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idempresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idempresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulotrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulotrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripciontrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripciontrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requisitostrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requisitostrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudadtrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudadtrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salariotratar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salariotratar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salariohasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salariohasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publicosino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publicosino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jornadahrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jornadahrs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diaslaborables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diaslaborables)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edadminima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edadminima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edadmaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edadmaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateadd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateadd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
