@model EmpleosWebMax.Domain.Entity.Educacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Educacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoestudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoestudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitucionLugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitucionLugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateadd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateadd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
