@model EmpleosWebMax.Application.ViewModels.InvoiceViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />
<div id="container" class="InvoicePS">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="callout callout-info">
                        <h5><i class="fas fa-info"></i> Note:</h5>
                        This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                    </div>


                    <!-- Main content -->

                    <div class="invoice p-3 mb-3 rounded @(Model.IsPaid == true ? "border-success" : "border-danger")">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <i class="fas fa-globe"></i> EmpleoMax
                                    <small class="float-right">Fecha: @Model.Date.ToShortDateString()</small>
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                De
                                <address>
                                    <strong>EmpleoMax.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    Phone: (804) 123-5432<br>
                                    Email: info@almasaeedstudio.com
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                Para:
                                <address>
                                    <strong><label>@Model.UserName  </label></strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    Phone: (555) 539-1037<br>
                                    Email: @Model.UserEmail
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>Invoice: #@Model.InvoiceNumber</b><br>
                                <br>
                                <b>Order ID:</b> 4F3S8J<br>
                                <b>Plan Vence:</b>  @Model.DateFinishPlan.ToShortDateString()<br>
                                <b>Nombre de la Suscripcion:</b> @Model.SubscriptionName<br>
                                <b>Estado:</b> @if (Model.IsPaid)
                                {<span class="badge badge-success">Pagado</span>}
                                else
                                { <span class="badge badge-danger">No esta pagado</span>}
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Plan</th>
                                            <th>Servicio</th>
                                            <th>Descripción</th>
                                            <th>Impuesto</th>
                                            <th>Precio</th>
                                            <th>Monto</th>
                                            <th>Total</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.InvoiceLines)
                                        {

                                            <tr>
                                                <td>@item.Quantity</td>
                                                <td>@item.PlanName</td>
                                                <td>@item.ServiceName</td>
                                                <td>@item.Description</td>
                                                <td>@item.TaxAmount</td>
                                                <td>@item.Price</td>
                                                <td>@item.Amount</td>
                                                <td>@item.TotalAmount</td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-center">
                                    @Html.PagedListPager((IPagedList)Model.InvoiceLines, page => Url.Action("Index", "Invoice", new { page = page }),
                                 new X.PagedList.Web.Common.PagedListRenderOptionsBase
                                 {
                                        DisplayItemSliceAndTotal = true,
                                        ContainerDivClasses = new[] { "navigation" },
                                        LiElementClasses = new[] { "page-item" },
                                        PageClasses = new[] { "page-link" },

                                        ItemSliceAndTotalFormat = "{1} de {2}",
                                        LinkToFirstPageFormat = "<i class='fas fa-angle-double-left'></i>",
                                        LinkToPreviousPageFormat = "<i class='fas fa-angle-left'></i>",
                                        LinkToNextPageFormat = "<i class='fas fa-angle-right'></i>",
                                        LinkToLastPageFormat = "<i class='fas fa-angle-double-right'></i>"
                                 })
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            @*<div class="col-6">
                                    <p class="lead">Metodos de pago:</p>
                                    <img src="~/images/visa.png" alt="Visa" />
                                    <img src="~/images/mastercard.png" alt="Mastercard" />
                                    <img src="~/images/american-express.png" alt="American Express" />
                                    <img src="~/images/paypal2.png" alt="Paypal" />
                                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                                        plugg
                                        dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                                    </p>
                                </div>*@
                            <!-- /.col -->
                            <div class="offset-6 col-6">

                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td>$@Model.Subtotal</td>
                                        </tr>
                                        <tr>
                                            <th>Impuesto (9.3%)</th>
                                            <td>$@Model.TaxAmount</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>$@Model.Total</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-12">
                              @*  <button asp-action="Detail" type="button" class="btn btn-success float-right">
                                    <i class="fas fa-info-circle"></i> Detalle
                                </button>
*@
                                <a asp-action="Detail" class="btn btn-success float-right">
                                    <i class="fas fa-info-circle"></i> Detalle

                                </a>
                                <a asp-action="Edit" class="btn btn-primary float-right" style="margin-right: 5px;">
                                    <i class="fas fa-edit"></i>Editar

                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</div>
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- /.control-sidebar -->



