
@{
    ViewData["Title"] = "UsuariosAdm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        string bgcol1 = "";
    string bgcol2 = "";
    string bgcol3 = "";
    string bgcol4 = "";
    string bgcol5 = "";

    if (ViewBag.q == 1)
    {
        bgcol1 = "bg-warning";
    }
    else if (ViewBag.q == 2)
    {
        bgcol2 = "bg-warning";
    }
    else if (ViewBag.q == 3)
    {
        bgcol3 = "bg-warning";
    }
    else if (ViewBag.q == 4)
    {
        bgcol4 = "bg-warning";
    }
    else if (ViewBag.q == 5)
    {
        bgcol5 = "bg-warning";
    }
}

<div class="container-fluid bg-light border border-light shadow p-4 mb-2 bg-white">
    <h1 class="title1">Usuarios Adm</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Orden</th>
                <th>Candidato</th>
                <th>Email</th>

                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{int canapl = 0; }
            @foreach (var item in ViewBag.UserxList)
            {

                canapl++;

            <tr>
                <td>@canapl</td>
                <td class="@bgcol1">@item.FirstName @item.LastName</td>
                <td class="@bgcol5">@item.UserName</td>
                @if (item.UserName == "ADMIN@EMPLEOMAX.COM" || item.UserName == "admin@empleomax.com")
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
                else
                {
                    <td>
                        <form enctype="multipart/form-data" asp-controller="Admin" asp-action="EditUsuarioAdm" asp-route-returnUrl="@Context.Request.QueryString">
                            <div class="row">
                                <input type="hidden" name="gdfsd" class="form-control" value="@item.Id" />
                                <input type="hidden" name="St" class="form-control" value="a" />
                                <button type="submit" class="btn bg-transparent text-danger"> <i class="fas fa-trash-alt"></i> </button>
                            </div>
                        </form>
                    </td>
                    <td>
                        @{if (@item.StatusGeneral < 4)
                            {
                                <form enctype="multipart/form-data" asp-controller="Admin" asp-action="EditUsuarioAdm" asp-route-returnUrl="@Context.Request.QueryString">
                                    <div class="row">
                                        <input type="hidden" name="gdfsd" class="form-control" value="@item.Id" />
                                        <input type="hidden" name="St" class="form-control" value="r" />
                                        <button type="submit" class="btn bg-transparent text-success"> <i class="far fa-eye"></i> </button>
                                    </div>
                                </form> }
                            else if (@item.StatusGeneral == 4)
                            {
                                <form enctype="multipart/form-data" asp-controller="Admin" asp-action="EditUsuarioAdm" asp-route-returnUrl="@Context.Request.QueryString">
                                    <div class="row">
                                        <input type="hidden" name="gdfsd" class="form-control" value="@item.Id" />
                                        <input type="hidden" name="St" class="form-control" value="x" />
                                        <button type="submit" class="btn bg-transparent text-danger"> <i class="far fa-eye-slash"></i> </button>
                                    </div>
                                </form>}
                        }

                    </td>

                    <td>
                        <a class="btn-link" href="./Datos?ty6hhdg87u=@item.Id"><i class="fas fa-user-edit"></i></a>
                    </td>
                }
            </tr>


            }
        </tbody>
    </table>
    <br><br>
</div>

<div class="divAlto"></div>